a.table2 {
    font-size: 12px;
    color: #fc455c;
    font-family: "Fira Sans Condensed", sans-serif;
}

th.tittable {
    color: #22a2b0;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 20px;
    text-align: justify;
    text-align-last: left;
    text-decoration: underline;
    padding: 20px;
}

li.contenido {
    color: #fc455c;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 14px;
    position: relative;
    left: 5%;
    text-decoration: underline;
    font-weight: bolder;
    padding-bottom: .2em;
    width: 75.4%;
}

table.fichas tbody:last-child li.contenido {
    padding-bottom: 1.5em;
}

a.contenido2 {
    color: #fc455c;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 14px;
}

table.fichas {
    position: absolute;
    top: -140px;
    left: 220%;
    border-radius: 4px;
    width: 220%;
    background-color: white;
    border-color: #da9600
}

p.criterios {
    color: red;
    font-weight: 200;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    position: relative;
    top: 83px;
    width: 380px;
    left: 24px;
}

form {
    position: absolute;
    top: 210px;
}

p.resultado {
    position: relative;
    top: -180px;
    left: 170%
}

hr.subtitulo {
    height: 2px;
    background-color: #22a2b0;
    margin-left: -30%;
    position: absolute;
    top: 112px;
    right: -98.4%;
    width: 490px;
}

li.criterios {
    color: #666666;
    font-weight: normal;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 18px;
    position: relative;
    top: 150px;
    right: -8%;

}

p.seleccion {
    color: #666666;
    font-weight: normal;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    position: absolute;
    top: 300px;
    right: 69%;

}

p.tit {
    color: #22a2b0;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 20px;
    text-align: left;
    position: absolute;
    border-bottom: 2px solid #22A2A4;
    top: 100px;
    width: 507px;
}

button.btn {
    border-color: #da9600;
    border-width: 1px;
    border-style: solid;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    padding: 6px 17px;
    position: absolute;
    right: -100% !important;
    color: #666666;
    top: 50px !important;
}

/* inicio select checkbox */
.MultiCheckBox {

    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    right: -55% !important;
    border-color: #da9600;
    border-width: 1px;
    border-style: solid;
    background-color: #ffffff;
    color: white;
    top: 50px
}

.MultiCheckBox .k-icon {
    font-size: 15px;
    float: right;
    font-weight: bolder;
    margin-top: -7px;
    height: 10px;
    width: 14px;
    color: #787878;
}

.MultiCheckBoxDetail {
    display: none;
    position: absolute;
    overflow-y: hidden;
    position: absolute;
    right: -55% !important;
    border-color: #da9600;
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 20px;
    text-align: justify;
    text-align-last: left;
    top: 50px !important;
}

.MultiCheckBoxDetailBody {
    background-color: #22a2b0;
    border-radius: 4px;
}

.MultiCheckBoxDetail .cont {
    clear: both;
    overflow: hidden;
    padding: 2px;
}

.MultiCheckBoxDetail .cont:hover {
    background-color: white;
    color: black;
}

.MultiCheckBoxDetailBody>div>div {
    float: left;
}

.MultiCheckBoxDetail>div>div:nth-child(1) {}

.MultiCheckBoxDetailHeader {
    overflow: hidden;
    position: relative;
    height: 28px;
    background-color: white;
}

.MultiCheckBoxDetailHeader>input {
    position: absolute;
    top: 4px;
    left: 3px;
}

.MultiCheckBoxDetailHeader>div {
    position: absolute;
    top: 5px;
    left: 24px;
    color: black;
}

/*fin select*/

p.texto {
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 20px;
    text-align: justify;
    text-align-last: left;
    position: absolute;
    top: 90px;
    right: 58%;
}


a {
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    text-decoration: none;
}

table {
    position: absolute;
    top: 15px;
    left: 93%;
    border-spacing: 8px;
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
}

h1 {
    position: absolute;
    top: 1px;
    right: 87.8%;
    -epub-hyphens: none;
    font-style: normal;
    font-variant: normal;
    color: #fc455c;
    font-family: "Fira Sans Condensed ExtraBold", sans-serif;
    font-size: 25px;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 38px;
    text-align: left;
    border-bottom-width: thin;
}

h1.color {
    position: absolute;
    top: 1px;
    right: 71.5%;
    -epub-hyphens: none;
    font-style: normal;
    font-variant: normal;
    color: #22a2b0;
    font-family: "Fira Sans Condensed ExtraBold", sans-serif;
    font-size: 25px;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 38px;
    text-align: left;
    border-bottom-width: thin;
}

#menu {
    width: 100%;
    margin: 0;
    padding: 10px 0 0 0;
    list-style: none;
    background: transparent;
    background: transparent;
    background: transparent;
    background: transparent;
    background: transparent;
    background: transparent;
    background: transparent;
    position: absolute;
    top: 20px;
    left: -5%;
}

#menu li {
    float: right;
    padding: 0 0 10px 0;
    position: relative;
    right: 10%;
}

#menu a {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    float: left;
    height: 25px;
    padding: 0 25px;
    text-decoration: none;

}

#menu > li:hover>a {
    border-bottom: 9px solid #07ACAA;
    padding-bottom: 1.5em;
}

*html #menu li a:hover {
    /* IE6 */
    color: black;

}

#menu li:hover>ul {
    display: block;
    
}

/* Sub-menu */

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 42px;
    left: 26%;
    z-index: 99999;
    background: #07ACAA;
    border-radius: 2px;
    text-transform: none;
}


#menu ul li {
    float: none;
    margin: 0;
    padding: 0;
    display: block;
    background-color: #22a2b0;
}

#menu ul li:last-child {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#menu ul a {
    padding: 10px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
    color: white;
    background: #07ACAA;
}

*html #menu ul a {
    /* IE6 */
    height: 10px;
    width: 150px;
}

*:first-child+html #menu ul a {
    /* IE7 */
    height: 10px;
    width: 150px;
}

#menu ul a:hover {
    background: white;
    color: black;
}

#menu ul li:first-child a {
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

#menu ul li:first-child a:after {
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

#menu ul li:first-child a:hover:after {
    border-bottom-color: white;
}

#menu ul li:last-child a {
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

/* Clear floated elements */
#menu:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html #menu {
    zoom: 1;
}

/* IE6 */
*:first-child+html #menu {
    zoom: 1;
}

/* IE7 */

#menu ul li:first-child a:after {
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

#menu ul li:first-child a:hover:after {
    border-bottom-color: #04acec;
}

nav ul li a:hover {
    background: #22a2b0;
}

#main-footer {
    background: #CCCCCC;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    flex: 0 0 auto;
    height: 180px;
    overflow: hidden;
    margin-bottom: 0px;
}

#main-header {
    background: #25496b;
    color: white;
    width: 100%;
    height: 80px;
    flex: 0 0 auto;
    margin-bottom: 50px;
    overflow: hidden;
}

#main-header a {
    color: #999;
    font-family: "Fira Sans";
    font-size: 16px;
}

/*
              * Navegación
              */
nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
    position: absolute;
    left: 50%;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
}

nav ul li a {
    display: inline;
    padding: 0 10px;
    text-decoration: none;
}

#main-content {
    background: white;
    width: 100%;
    max-width: 800px;
    margin: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}


img.logo {
    position: absolute;
    top: 23px;
    max-width: 145px;
    max-height: 42.11px;
    left: 5%;
}

img.lapiz {
    position: absolute;
    top: 0px;
    width: 199.05px;
    max-height: 80px;
    left: 20%;
}

img.btnSalir {
    position: absolute;
    top: 23px;
    max-width: 145px;
    max-height: 42.11px;
    left: 88%;
}

div.container {
    background-color: #cccccc;
    border-radius: 12px;
    border: 1px solid #f27611;
    width: 100%;
    height: 700px;
    margin: 0 auto;
    max-width: 1240px;
    margin-bottom: 50px;
    padding: 20px;
    position: relative;
    top: 20px;
    background-image: url("../img/Buscador.png");
    background-position: center center;
    background-size: 40%;
    background-repeat: no-repeat;
    overflow: hidden;
    flex: 1 0 auto;
}

table.table2 {
    position: absolute;
    left: 88%;
    top: -10px;
    font-size: 12px;
    color: #fc455c;
    font-family: "Fira Sans Condensed", sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
    text-align: left;
    background-color: #CCCCCC;
    border-spacing: 2px;
}

table.table3 {
    position: absolute;
    left: 99%;
    top: -40px;
    border-spacing: 2px;
}

div.imagen {
    position: relative;
    right: 12%;
    top: 25px;
}

hr {
    height: 2px;
    background-color: #fc455c;
    margin-left: 0.5%;
    width: 92.5%;
    position: relative;
    top: 11px;

}

#menu>li::after {
    content: "";
    width: 1px;
    height: 20px;
    border-right: 2px solid #666;
    float: right;
    margin-left: 0px;
}

#table a {
    display: inline-block;
    text-align: center;
    margin-bottom: 1.5em;
    width: 100%;
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    text-decoration: none;
}

#table a img {
    display: block;
    margin: 0 auto;
}


.accordionMenu {
    width: 610px;
    margin: 0 auto;
   
}

.accordionMenu input[type=radio] {
    display: none;
    
}

.accordionMenu label {
    color: #cccccc;
    font-family: "Fira Sans Condensed Bold", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 1em;
    text-align: left;
    display: block;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #e6e6e6;
    border-top-color: #999999;
    background-color: rgba(80,80,80,0.9);   
    height: 34px;
    left: 0px;
    padding: 7px 20px 0px;
    border-top-style: solid;
    border-top-width: 5px;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.accordionMenu input[type=radio]:checked + label {
    border-top-color: #da9600;
    background-color: rgba(220,104,9,0.90);
}

.accordionMenu label::after {
    display: block;
    content: "";
    border-style: solid;
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent #cccccc;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
    transition: all 0.3s ease-in-out;
}

.accordionMenu .content {
    max-height: 50px;
    height: 0;
    overflow: hidden;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.accordionMenu .content .inner {
    font-size: 1.2rem;
    line-height: 1.5;
    border-width: 1px;
    border-style: solid;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px 3px 3px 3px;
    padding: 20px;
    border-color: #da9600;
    height:800px;
}

.accordionMenu input[type=radio]:checked+label:after {
    transform: rotate(90deg);
   
}
.accordionMenu input[type=radio]:checked+label+.content {
    max-height: 330px;
    overflow-y:scroll ;
    
}


p.acordion2 {
    color: black;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 16px;
    line-height: 1.152;
    margin-bottom: 16px;
    text-align: justify;
    margin-block-end: 0;
}
h4{
    font-family: "Fira Sans Condensed Bold", sans-serif;
    color: whitesmoke;
    font-size: 16px;
    font-weight: 800;
    line-height: 1em;
    text-align: left;
    top: 0px;
    position: absolute; 
}
